# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv311/
.venv/
.venv_py39_backup/
sqlite_new/
*.zip
*.wav


# Environment files
.env

# Node
node_modules/
.next/

# VS Code
.vscode/

# Logs
*.log

# Model caches
.paddleocr/
.paddlex/
huggingface/

# Storage outputs
storage/

# ChromaDB
chroma_db/

# OS files
.DS_Store
Thumbs.db